<h1>Test central</h1>

<p>lets do some testing</p>

<form>
	<button id="get-html">Get HTML</button>  
 	<button id="get-xml">Get XML</button>  
	<button id="get-json">Get JSON</button>  
	<button id="get-script">Get Script</button>
	<button id="clear-all">Clear All</button>  	
</form>

<br />

<div id="html-here"></div>
<div id="xml-here"></div>
<div id="json-here"></div>
<div id="script-here"></div>                                  